<section class="grid social-media-icons padded-sides padded-bottom">
    <div class="col-5_xs-12 grid-center">
        <div class="col-6 padded centered ">
            <a class="radius  " href="{{site.data.general.socials.instagram-link}} ">{{site.data.general.socials.instagram-icon}}</a>
        </div>
        <div class="col-6 padded  centered">
            <a class=" radius"href="{{site.data.general.socials.facebook-link}} ">{{site.data.general.socials.facebook-icon}}</a>
        </div>
        <div class="col-6 padded  centered">
            <a class=" radius" href="{{site.data.general.socials.youtube-link}}">{{site.data.general.socials.youtube-icon}}</a>
        </div>
        <div class="col-6 padded centered">
            <a class=" radius"href="{{site.data.general.socials.tiktok-link}} ">{{site.data.general.socials.tiktok-icon}}</a>
        </div>
    </div>
    <div class="col-6_xs-12 grid white-bg centered padded box-shadow grid">
        <h4 class="centered col-12 padded">{{item.form-heading}}</h4>
    </div>
</section>