<section class="padded grid-middle split-bg contact">
  <div class="col-4_sm-12 banner " style="background-image: url('{{item.image}}');"></div>
  <form method="post" action="/success.html" class="enquiry col-8_sm-12 grid-center capped-width">
  <div class=" col-12 centered padded " id="{{item.link.link}}">
    <h3 class="">{{item.heading}}</h3>
      <div class="grid padded-sides">
        <div class="col-12 padded">
         <div class="floating-input ">
          <input type="text" name="{{item.input-1}}" placeholder="{{item.input-1}}" class="input-text form-text_color" required="" />
          <label class="input-label">{{item.input-1}}</label>
         </div>

         <div class="floating-input">
          <input type="text" name="{{item.input-2}}" placeholder="{{item.input-2}}" class="input-text form-text_color" />
          <label class="input-label">{{item.input-2}}</label>
         </div>

         <div class="floating-input">
          <textarea name="{{item.input-3}}" placeholder="{{item.input-3}}" class="input-text form-text_color" style=" height: 43px;"></textarea>
          <label class="input-label">{{item.input-3}}</label>
         </div>

        <div class="padded grid-center">
          <input type="hidden" name="inbox_key" value="living-unconventionally-general-form">
          <input type="text" name="_gotcha" style="display: none;">
          <input type="submit" value="Send Message" class="center button-solid" />
        </div>
       </div>
      </div>
      <div class="grid-center"><p class="col-6_sm-12-center"><b>{{item.textarea_html}}</b></p></div>
      
      <div class="col-12 grid-center social-media-icons">
        <div class="col-3 padded centered ">
            <a class="radius  " href="{{site.data.general.socials.instagram-link}} ">{{site.data.general.socials.instagram-icon}}</a>
        </div>
        <div class="col-3 padded  centered">
            <a class=" radius"href="{{site.data.general.socials.facebook-link}} ">{{site.data.general.socials.facebook-icon}}</a>
        </div>
        <div class="col-3 padded  centered">
            <a class=" radius" href="{{site.data.general.socials.youtube-link}}">{{site.data.general.socials.youtube-icon}}</a>
        </div>
        <div class="col-3 padded centered">
            <a class=" radius"href="{{site.data.general.socials.tiktok-link}} ">{{site.data.general.socials.tiktok-icon}}</a>
        </div>
    </div>
    </div>
  </form>
</section>
</section>
