

<section class="grid-center signup-banner" style="background-image:url('{{item.image}}')">
    <div class="col-6-middle_xs-12 grid body-bg  centered padded box-shadow grid">
        <h4 class="centered col-12 padded-sides">{{item.form-heading}}</h4>
    
            <div class="col-12 grid">
              <div><div id="fd-form-649db06da56d8d7685cc45a0"></div>
              <script>
                window.fd('form', {
                  formId: '649db06da56d8d7685cc45a0',
                  containerEl: '#fd-form-649db06da56d8d7685cc45a0'
                });
              </script>
              </div>
          </div>  
              </div>
    </div>
</section>