<section class="grid grid-grid">
    <div class="grid-middle col-4_xs-12 ">
        <div class="col-12_xs-6 light-bg padded-grid centered">
           {{item.first-grid.icon}}
        </div>
        <div class="col-12_xs-6 dark-bg padded-grid  centered">
            <a href="{{item.first-grid.link}}"><h3>{{item.first-grid.heading}}</h3></a>
        </div>
    </div>
    <div class="grid col-4_xs-12  ">
        <div class="col-12_xs-6 dark-bg padded-grid  centered">
            <a href="{{item.second-grid.link}}"> <h3>{{item.second-grid.heading}}</h3></a>        
        </div>
        <div class="col-12_xs-6 light-bg padded-grid centered">
            {{item.second-grid.icon}}
        </div>
    </div>
    <div class="grid-middle col-4_xs-12 ">
        <div class="col-12_xs-6 light-bg padded-grid centered">
            {{item.third-grid.icon}}
        </div>
        <div class="col-12_xs-6 dark-bg padded-grid  centered">
            <a href="{{item.third-grid.link}}"><h3>{{item.third-grid.heading}}</h3></a>
        </div>
    </div>
</section>
