
<section class="grid grid-grid">
    <div class="grid-middle col-4_xs-12 ">
        <div class="col-12_xs-6 light-bg padded-grid centered">
            <span class="iconify" data-icon="fluent:luggage-28-filled"></span>
        </div>
        <div class="col-12_xs-6 dark-bg padded-grid  centered">
            <a href="/shop"><h3>Shop</h3></a>
            
        </div>
    </div>
    <div class="grid col-4_xs-12  ">
        <div class="col-12_xs-6 dark-bg padded-grid  centered">
            <a href="/contact"> <h3>Let's connect</h3></a>
           
        </div>
        <div class="col-12_xs-6 light-bg padded-grid centered">
            <span class="iconify" data-icon="emojione-monotone:sunglasses"></span>
        </div>
    </div>
    <div class="grid-middle col-4_xs-12 ">
        <div class="col-12_xs-6 light-bg padded-grid centered">
            <span class="iconify" data-icon="emojione-monotone:airplane"></span>
        </div>
        <div class="col-12_xs-6 dark-bg padded-grid  centered">
            <a href="/videos"><h3>Videos</h3></a>
        </div>
    </div>
</section>