<section class="grid social-media-icons padded-sides">
    <div class="col-6 grid">
        <div class="col-6 padded centered ">
            <a class="light-bg radius  " href="{{item.instagram.link}} ">{{item.instagram.icon}}</a>
        </div>
        <div class="col-6 padded  centered">
            <a class="light-bg radius"href="{{item.facebook.link}} ">{{item.facebook.icon}}</a>
        </div>
        <div class="col-6 padded  centered">
            <a class="light-bg radius" href="{{item.youtube.link}} ">{{item.youtube.icon}}</a>
        </div>
        <div class="col-6 padded  centered">
            <a class="light-bg radius"href="{{item.tiktok.link}} ">{{item.tiktok.icon}}</a>
        </div>
    </div>
    <div class="col-6 grid">
       
    </div>
</section>