<section class="grid-middle worldschooling padded">
    <div class="col-12 grid" >
        <div class="col-6  border-right centered ">
            {{item.top.icon}}
        </div>
        <div class="col-6 padded-left">
            {{item.top.textarea_html}}
        </div>
    </div> 
    <div class="col-12 grid "> 
        <div class="col-6 padded-left">
             {{item.bottom.textarea_html}}
        </div>
        <div class="col-6 centered border-left ">
          {{item.bottom.icon}}
        </div>
    </div>    
  
  </section>