
<section class="light-bg">
    <div class="grid flex-flip">
      <div class="col-6_sm-12 bg-image-content" style="background-image: url('{{item.top.image}}');"> 
      </div>
      <div class="col-6_sm-12-middle padded">
        <h2> {{item.top.heading}} </h2>
        <p>{{item.top.textarea}}</p>
        <a class="arrow read-more" href="{{item.top.link}}"> {{item.top.cta}}  </a>
      </div>
    </div>
    <div class="grid flex-flip">
      <div class="col-6_sm-12 bg-image-content" style="background-image: url('{{item.bottom.image}}');">
      </div>
      <div class="col-6_sm-12-middle padded">
        <h2> {{item.bottom.heading}}</h2>
        <p> {{item.bottom.textarea_html}}</p>
        <a class="arrow read-more" href="{{item.bottom.link}}"> {{item.bottom.cta}} </a>
      </div>
    </div>
  </section>