<section class="grid worldschooling padded">
    <div class="col-12 grid padded-bottom flex-flip" >
        <div class="col-6-middle_sm-12  centered ">
            {{item.top.icon}}
        </div>
        <div class="col-6_sm-12 border-left padded-left">
            {{item.top.textarea_html}}
        </div>
    </div> 
    <div class="col-12 grid-middle padded-bottom flex-flip"> 
        <div class="col-6-middle_sm-12 centered ">
            {{item.bottom.icon}}
          </div>
        <div class="col-6_sm-12 padded-right border-right ">
             {{item.bottom.textarea_html}}
        </div>
    </div>    
  
  </section>