<section class="grid-middle worldschooling padded">
    <div class="col-12 grid-middle " >
        <div class="col-6  centered ">
            {{item.top.icon}}
        </div>
        <div class="col-6 border-left padded-left">
            {{item.top.textarea_html}}
        </div>
    </div> 
    <div class="col-12 grid-middle "> 
        <div class="col-6 padded-right border-right ">
             {{item.bottom.textarea_html}}
        </div>
        <div class="col-6 padded centered ">
          {{item.bottom.icon}}
        </div>
    </div>    
  
  </section>