---
layout: header-g
---


<section class="margin-top"></section>

<section class="grid affiliate-product-page">
  <div class="col-6">
    <h2 class="padded">Mobile filters that make your images come alive</h2>
    <h1>The Desert Pack</h1>
    <p class="product-price"> {{page.price}}  <span class="compare-at-price">{{page.discounted-price}}</span> </p>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus neque eveniet vitae debitis voluptas mollitia ipsam molestias totam ipsa. Quos, dicta illum! Voluptate iste quae aspernatur eos. Fuga, nam nobis?
    </p>
  </div>
  <div class="col-6">
    <img src="/images/photos/images.jpg" alt="">
  </div>


</section>