---
layout: default
---

<header class="grid-middle fixed transparent-bg mob-hide">
    <div class="col-3 left logo grow">
      <a href="/">
      <img src="{{site.data.general.basics.logo_image}}" alt="{{site.data.general.basics.logo-alt}}">
      </a>
    </div>
    <nav class="col-9-middle right header-hide">
      <a href="/videos"> Videos </a>
      <a href="/our-story"> Our Story </a>
      <a href="/worldschooling"> Worldschooling</a>
      <a href="/shop"> Shop</a>
      <a href="/contact"> Contact Us </a>
    </nav>
  </header>

  {{content}}
