---
layout: header-g
---

<section class="margin-top"></section>

<section class="grid-center centered padded-2 shop light-bg ">
    <div class="col-12 "><h1> {{page.heading}}</h1></div>
</section>
<section class="grid-center centered padded-2 shop">
    <div class="col-2">
        <a class="editable" href="/shop"> <p class="categories editable ">all</p> </a>
    </div>
    <div class="col-1 dot ">
        <p class="categories editable ">●</p>
    </div>
    <div class="col-2"> 
        <a class="editable" href="/free-downloads">  <p class="categories editable ">
            free downloads</p> </a>
    </div>
    <div class="col-1 dot ">
        <p class="categories editable">●</p>
    </div>
    <div class="col-2">
        <a class="editable" href="/recommended-products">  <p class=" categories editable ">our favorite gear</p> </a>
    </div>
    <div class="col-1 dot ">
        <p class="categories editable ">●</p>
    </div>
    <div class="col-2">
        <a class="editable" href="/ebooks"> <p class=" categories editable "> e-books </p> </a>
    </div>
</section>   

{{content}}