---
layout: header-g
---

<section class="margin-top"></section>

<section class="grid-center centered padded-2 shop ">
    <div class="col-12 "><h1> {{page.heading}}</h1></div>
</section>
<section class="grid-center centered padded-2  lighter-bg shop">
    <div class="col-2">
     <p class="categories editable ">
        <a class="" href="/shop"> all </a> 
     </p>
    </div>
    <div class="col-1 dot ">
     <p class="categories editable ">●</p>
    </div>
    <div class="col-2"> 
     <p class="categories editable ">  
        <a class="" href="/free-downloads"> free downloads </a> 
     </p>
    </div>
    <div class="col-1 dot ">
        <p class="categories editable">●</p>
    </div>
    <div class="col-2">
     <p class=" categories editable ">
       <a class="" href="/recommended-products">  our favorite gear</a>
    </p> 
    </div>
    <div class="col-1 dot ">
        <p class="categories editable ">●</p>
    </div>
    <div class="col-2">
      <p class=" categories editable  "> 
       <a class="" href="/ebooks">  e-books </a>
     </p>  
    </div>
</section>   

{{content}}