---
layout: header-g
---

<section class="margin-top"></section>

<section class="grid-bottom padded-1">
    <div class="col-12 grid-bottom banner" style="background-image: url('{{page.banner_image}}');">
     <div class="col-12 centered padded">
       <h1> {{page.heading}}</h1>
        <h6 class="text-4rem">{{page.subheading}}</h6>
     </div>
    </div>
    <div class="col-12 centered">
        <h2 class="text-6rem">{{page.category-heading}}</h2>
    </div>
</section>

<section class="grid-center lighter-bg centered padded-2">
    <div class="col-3">
        <p class="categories editable ">
            <a href="/videos">all</a>
        </p> 
    </div>
    <div class="col-1 dot ">
        <p class="categories editable ">●</p>
    </div>
    <div class="col-3"> 
        <p class="categories editable ">
            <a href="/destinations">destinations</a>
        </p> 
    </div>
    <div class="col-1 dot ">
        <p class="categories editable ">●</p>
    </div>
    <div class="col-3">
        <p class=" categories editable">
            <a href="/tips&tricks"> tips & tricks</a>
        </p>
    </div>
</section>

{{content}}

<section class="grid signup-banner" style="background-image:url('{{page.signup_image}}')"></section>
